:root {
  font-size: 16px;
  font-family: "IBM Plex Mono", monospace;
}

h1 {
  text-align: center;
}

.app {
  max-width: 450px;
  min-width: 320px;
  margin: 0 auto;
}

.card {
  margin: 0 0 15px;
  padding: 10px;
  border: dotted 1px black;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: max-content 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px 2px;
  grid-auto-flow: row;
  grid-template-areas:
    "avatar seconds paid credit"
    "avatar second-v paid-v credit-v";
}

.avatar {
  grid-area: avatar;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 4px;
  padding: 4px 10px 0;
}

.seconds {
  grid-area: seconds;
}

.paid {
  grid-area: paid;
}

.credit {
  grid-area: credit;
}

.second-v {
  grid-area: second-v;
}

.paid-v {
  grid-area: paid-v;
}

.credit-v {
  grid-area: credit-v;
}

.d {
  font-weight: bold;
}

.v {
  white-space: nowrap;
}

@media screen and (max-width: 550px) {
  .card {
    gap: 4px 12px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "avatar seconds second-v"
      "avatar  paid paid-v"
      "avatar  credit credit-v";
  }

  .avatar {
    padding: 4px 0 0;
  }

  .d {
    justify-self: right;
  }

  .v {
    justify-self: left;
  }
}
